# ЛР 2
## Задания:
1. Провести классификацию найденного датасета, методом машины опорных векторов. В формате Markdown писать пояснения. Объяснить почему были выбраны именно такие гиперпараметры, была ли перекрестная проверка, и т.д.

## Описание датасета:
Датасет удовлетворённости пассажиров их полётом на самолёте.
### Данные:
* id - id пассажира
* <b>Satisfaction_v2 (целевой столбец) - удовлетворённость полётом (satisfied/neutral or dissatisfaction)</b>
* Gender - пол пассажира
* Customer Type - лояльность пассажира (Loyal customer, disloyal customer)
* Age - возраст пассажира на момент полёта
* Type of Travel - цель полёта (Personal Travel/Business Travel)
* Class - класс полёта (Business, Eco, Eco Plus)
* Flight distance - дальность полёта
* Seat comfort - удовлетворённость удобством сидения (0-5)
* Departure/Arrival time convenient - удовлетворённость удобством времени отправления/прибытия (0-5)
* Food and drink - удовлетворённсть едой и напитками (0-5)
* Gate location - удовлетворённость удобством размещения гейтов (0-5)
* Inflight wifi service - наличие и качество WiFi на борту (0 - WiFi отсутствует, 1-5)
* Inflight entertainment - удовлетворённость развлечениям в полёте (0-5)
* Online support - удовлетворённость онлайн поддержкой (0-5)
* Ease of Online booking - удовлетворённость простотой бронирования билетов онлайн (0-5)
* On-board service - удовлетворённость обслуживанием в полёте (0-5)
* Leg room service - удовлетворённость расстоянием между ногами и сидением (0-5)
* Baggage handling - удовлетворённость работы с багажом (0-5)
* Checkin service - удовлетворённость обслуживанием при регистрации (0-5)
* Cleanliness - удовлетворённость чистотой на борту (0-5)
* Online boarding - удовлетворённость простотой получения онлайн талона на посадку (0-5)
* Departure Delay in Minutes - задержка отправления рейса
* Arrival Delay in Minutes - задержка прибытия рейса

In [2]:
import pandas as pd
import numpy as np

df = pd.read_excel('satisfaction.xlsx', index_col=0)

In [3]:
df

,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
id,,,,,,,,,,,,,,,,,,,,,
11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119211,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,...,2,2,3,3,4,4,4,2,0,0.0
97768,neutral or dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,...,1,3,2,3,3,1,2,1,174,172.0
125368,neutral or dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,...,2,4,4,3,4,2,3,2,155,163.0
251,neutral or dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,...,2,3,3,2,3,2,1,2,193,205.0
84566,neutral or dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,...,3,4,5,5,5,3,3,3,185,186.0

Замена текстовых категориальных признаков на числовые

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['satisfaction_v2'] = labelencoder.fit_transform(df['satisfaction_v2'])
df['Gender'] =  labelencoder.fit_transform(df['Gender'])
df['Customer Type'] =  labelencoder.fit_transform(df['Customer Type'])
df['Type of Travel'] = labelencoder.fit_transform(df['Type of Travel'])
df['Class'] =  labelencoder.fit_transform(df['Class'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129880 entries, 11112 to 84566
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction_v2                    129880 non-null  int32
 1   Gender                             129880 non-null  int32
 2   Customer Type                      129880 non-null  int32
 3   Age                                129880 non-null  int64
 4   Type of Travel                     129880 non-null  int32
 5   Class                              129880 non-null  int32
 6   Flight Distance                    129880 non-null  int64
 7   Seat comfort                       129880 non-null  int64
 8   Departure/Arrival time convenient  129880 non-null  int64
 9   Food and drink                     129880 non-null  int64
 10  Gate location                      129880 non-null  int64
 11  Inflight wifi service              129880 non-null  int64
 12  Inflight entertainment             129880 non-null  int64
 13  Online support                     129880 non-null  int64
 14  Ease of Online booking             129880 non-null  int64
 15  On-board service                   129880 non-null  int64
 16  Leg room service                   129880 non-null  int64
 17  Baggage handling                   129880 non-null  int64
 18  Checkin service                    129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Online boarding                    129880 non-null  int64
 21  Departure Delay in Minutes         129880 non-null  int64
 22  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int32(5), int64(17)
memory usage: 21.3 MB

Замена отсутствующих значений задержки прибытия нулями

In [5]:
df['Arrival Delay in Minutes'] = df['Arrival Delay in Minutes'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129880 entries, 11112 to 84566
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction_v2                    129880 non-null  int32
 1   Gender                             129880 non-null  int32
 2   Customer Type                      129880 non-null  int32
 3   Age                                129880 non-null  int64
 4   Type of Travel                     129880 non-null  int32
 5   Class                              129880 non-null  int32
 6   Flight Distance                    129880 non-null  int64
 7   Seat comfort                       129880 non-null  int64
 8   Departure/Arrival time convenient  129880 non-null  int64
 9   Food and drink                     129880 non-null  int64
 10  Gate location                      129880 non-null  int64
 11  Inflight wifi service              129880 non-null  int64
 12  Inflight entertainment             129880 non-null  int64
 13  Online support                     129880 non-null  int64
 14  Ease of Online booking             129880 non-null  int64
 15  On-board service                   129880 non-null  int64
 16  Leg room service                   129880 non-null  int64
 17  Baggage handling                   129880 non-null  int64
 18  Checkin service                    129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Online boarding                    129880 non-null  int64
 21  Departure Delay in Minutes         129880 non-null  int64
 22  Arrival Delay in Minutes           129880 non-null  float64
dtypes: float64(1), int32(5), int64(17)
memory usage: 21.3 MB

Разбиение на train/test и обучение модели с разными параметрами (15 часов!!!!!)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from imblearn.under_sampling import RandomUnderSampler
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

X = df.drop(columns=['satisfaction_v2'])
Y = df['satisfaction_v2']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=27)

st_scaler = StandardScaler()
X_train = st_scaler.fit_transform(X_train)
X_test = st_scaler.fit_transform(X_test)

under_sampler = RandomUnderSampler(random_state=27)
X_resampled, Y_resampled = under_sampler.fit_resample(X_train, Y_train)

param_grid = {'kernel': ['linear', 'rbf', 'sigmoid', 'poly'],
              'C': [0.001, 0.01, 0.1, 1, 10],
              'degree': [1, 2, 3, 4, 5, 6, 7]}

svm_grid = GridSearchCV(SVC(), param_grid, cv=5, scoring='accuracy', n_jobs=-1)
svm_grid.fit(X_resampled, Y_resampled)

best_params = svm_grid.best_params_
best_kernel = best_params['kernel']
best_C = best_params['C']
best_degree = best_params['degree']

print(f"Лучшие параметры: Ядро: {best_kernel}, C: {best_C}, Degree: {best_degree}")

Лучшие параметры: Ядро: rbf, C: 10, Degree: 1

Оценка точности и отчёт:

In [12]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

svm_model = SVC(kernel=best_kernel, C=best_C) 

svm_model.fit(X_resampled, Y_resampled)

Y_pred = svm_model.predict(X_test)

accuracy = accuracy_score(Y_test, Y_pred)
report = classification_report(Y_test, Y_pred, zero_division = 1)

print(f'Точность модели: {accuracy}')
print(report)

stratified_kfold = StratifiedKFold(n_splits=2, shuffle=True, random_state=27)
cross_val_scores = cross_val_score(svm_model, X_resampled, Y_resampled, cv=stratified_kfold)

print(f'Кросс-валидация: {cross_val_scores.mean()}')

Точность модели: 0.9540601580946515
              precision    recall  f1-score   support

           0       0.94      0.96      0.95     17571
           1       0.97      0.95      0.96     21393

    accuracy                           0.95     38964
   macro avg       0.95      0.95      0.95     38964
weighted avg       0.95      0.95      0.95     38964

Кросс-валидация: 0.94794042016399